<head><link rel="stylesheet" href="../css/design-system.css"></head>
<div class="top-bar bg-[#654321] text-white py-2 text-sm">
    <div class="container mx-auto px-4 flex flex-wrap justify-between items-center gap-2">
        <div class="top-bar-info">
            <span><i class="fas fa-map-marker-alt"></i> Serving Tocantins, Brazil</span>
            <span class="mx-3">|</span>
            <span>📧 info@immigratetobrazil.com</span>
            <span class="mx-3">|</span>
            <span><i class="fas fa-mobile-alt"></i> +55 (XX) XXXX-XXXX</span>
        </div>
        <div class="top-bar-links">
            <a href="faq.html" class="hover:underline">FAQ</a>
            <span class="mx-2">|</span>
            <a href="blog.html" class="hover:underline">Blog</a>
            <span class="mx-2">|</span>
            <a href="resources.html" class="hover:underline">Resources</a>
        </div>
    </div>
</div>

<script src="../js/design-system.js"></script>

<script src="../js/partials-loader.js"></script>

<script src="../js/main.js"></script>
